{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->

{% block title %} User HomePage {% endblock title %}
<!--  -->

{% block content %}
<!-- Hero Section -->
<section class="hero bg-dark text-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h1>Welcome to Profiler APP</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          temporibus recusandae excepturi, exercitationem saepe hic doloribus
          animi placeat nulla incidunt magnam consectetur aliquid officiis
          deleniti, unde quaerat maiores sint. Amet.
        </p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
<!--  -->
